/*
Global Styles to apply to the entire site
*/

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    padding-right: 1.5rem; /* Make space for the arrow so text doesn't overlap */
}

a:hover {
    text-decoration: none;
}

.btn-outline-osu {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-outline-osu:hover,
.btn-outline-osu:active {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: var(--color-white) !important;
}

.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}